/* @import "compass/css3"; */
@import url(https://fonts.googleapis.com/css?family=Vibur);

body {
    background: linear-gradient(#28b550, #d3fadf);
    background-attachment: fixed;
    background-size: cover; /* Asegura que el fondo cubra toda la página */
    height: 100vh;
    margin: 0;
}

#id_formulario_principal {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra con un leve desenfoque */
}

.formulario_principal_consulta {
    width: 70%; /* Ajusta el ancho */
    margin: 10px auto; /* Centra el formulario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra con un leve desenfoque */
}
#texto_principal {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra con un leve desenfoque */
}

.formulario_principal {
    background: #dff8e5;
    border-radius: 10px;
    padding: 20px;
    font-size: 12px;
}
.formulario_principal_consulta {
    border-radius: 10px;
    padding: 20px;
    font-size: 12px;
}

.form-control{
    padding: 0 0.8rem;
    border-radius: 8px;
    height: 2rem;
    font-size: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-id{
    max-width: 5rem;
}

.form-paciente{
    min-width: 20rem;
}
.form-plan {
    min-width: 5rem;
}
.form-nit-pres {
    max-width: 7rem;
}
.form-prod{
    min-width: 30rem;
    
}

.btn-custom {
    width: 14%;
    padding: 5px;
    background-color: rgb(54, 54, 54);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}
.btn-custom:hover {
    background-color: #131212;
    color: white;
}
.btn-custom-1{
    width: 150px;
    height: 33px;
    padding: 3px;
    background-color: rgb(54, 54, 54);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 13.5px;
    margin: 0 1px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}
.tabla-final {
    border-radius: 10px;
    padding: 0;
}
.btn-buscar-p {
    width: 100%;
    padding: 5px;
    background-color: rgb(54, 54, 54);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-buscar-p:hover {
    background-color: #3f3f3f;
    color: white;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.div_botones {
    flex:end;
}

#successModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
}

#consulta_usuario {
    display: none;
    /* background-color: #3f3f3f; */
}

.last-btn {
    margin-left: 320px; /* Ajusta el margen izquierdo para moverlo más a la derecha */
}

.log-btn{
    width: 150px;
    height: 33px;
    padding: 3px;
    background-color:  #dc3545;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 13.5px;
    margin: 0 1px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

/* Bienvenido */
/* Estilos para el mensaje de bienvenida */
#username {
    font-family: 'Arial', sans-serif; /* Mantén la consistencia de la fuente */
    font-size: 1.2em; /* Tamaño de letra adecuado */
    font-weight: bold; /* Hacer el texto un poco más llamativo */
    color: #333333; /* Color oscuro para buena legibilidad */
    background-color:  #62e797; /* Fondo amarillo similar al estilo de la página */
    padding: 20px 20px; /* Espaciado alrededor del texto */
    border-radius: 8px; /* Bordes redondeados */
    text-align: center; /* Centrar el texto */
    margin-bottom: 20px; /* Espacio debajo del mensaje */
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave para darle relieve */
}

/* Estilos adicionales si deseas agregar una animación sutil */
#username {
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media print {
    .botones,
    .consu
     { 
        display: none !important;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.med-list {
    max-width: 900px; /* Ajusta el ancho máximo de la lista */
    width: 120%; /* Asegura que ocupe el ancho completo disponible */
    background-color: white; /* Fondo blanco para la lista */
    border: 1px solid #ccc; /* Borde ligero */
    border-radius: 5px; /* Bordes redondeados */
    position: absolute; /* Permite que la lista se superponga a otros elementos */
    z-index: 1000; /* Asegura que la lista aparezca sobre otros elementos */
    overflow-y: auto; /* Agrega scroll si la lista es demasiado larga */
    max-height: 200px; /* Limita la altura de la lista */
    padding: 0; /* Elimina el padding */
    margin: 0; /* Elimina el margen */
    list-style-type: none; /* Elimina los puntos de la lista */
}

/* Estilo para los elementos de la lista */
.med-list li {
    padding: 10px; /* Espaciado interno para los elementos de la lista */
    cursor: pointer; /* Cambia el cursor al pasar sobre los elementos */
}

.med-list li:hover {
    background-color: #f0f0f0; /* Cambia el fondo al pasar el mouse */
}

.table {
    border-radius: 10px; /* Aplica el border-radius a la tabla */
    overflow: hidden; /* Evita que las celdas salgan de los bordes redondeados */
}

.table thead {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.logo1 {
    width: 500px;
    height: auto; /* Mantiene la proporción */
}
.px_letras {
    font-size: 13px;
}
.ocultar {
    display: none;
}
@media print {
    /* Estilos para la impresión */
    body {
        margin: 0;
        padding: 0;
        font-size: 12pt; /* Tamaño de fuente más adecuado para impresión */
    }

    .row {
        display: flex; /* Asegura que los elementos en fila se mantengan juntos */
        flex-wrap: wrap; /* Permite que los elementos se ajusten si es necesario */
    }

    .col-md-4 {
        flex: 1; /* Permite que las columnas se ajusten proporcionalmente */
        min-width: 150px; /* Ajusta el ancho mínimo de las columnas */
    }

    /* Oculta elementos no deseados en la impresión */
    .no-print, #guardar-btn, #vaciar-btn, .user {
        display: none; /* Puedes agregar esta clase a cualquier elemento que no quieras imprimir */
    }

    /* Opcional: Ajusta otros elementos según sea necesario */
    h4, h5 {
        margin: 0;
        padding: 0;
    }
    
    /* Ajustes para inputs */
    input {
        width: auto; /* Asegúrate de que los inputs no ocupen más espacio del necesario */
        margin: 0; /* Elimina márgenes */
    }
    .imprimir {
        display: block;
    }
    .black_color{
        color: black;
    }

    .modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.table1.table-bordered td,
.table1.table-bordered th {
    padding: 5px; /* Ajusta el valor para cambiar el espaciado */
}

.texto-justificado {
    text-align: justify;
}

}
